---
import { Image } from "@astrojs/image/components";
---

<header class="flex my-4 sm:my-10 text-neutral-100">
  <a href="/" class="flex items-center text-neutral-300 hover:text-amber-600">
    <Image
      src="/apple-touch-icon.png"
      alt="Feather Pen"
      height="32"
      width="32"
      format="webp"
    />
    <span class="ml-2"> Youssef Moussaoui</span>
  </a>
</header>
