@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

@supports (animation-timeline: scroll()) {
  @keyframes scaleProgress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    animation: scaleProgress linear;
    animation-timeline: scroll();
    transform-origin: left;
    background-color: theme("colors.amber.700");
  }

  @media (min-width: 1280px) {
    .progress-bar {
      height: 12px;
    }
  }
}

.giscus {
  margin-top: 3.2rem;
}
